#centerBox{
    border-radius: 50px;
    width: 400px;
    height: 300px;
    background-color: #f3aa92;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
  }
  
  #welcomeText{
    text-align: center;
    text-shadow: -3px -3px #f65868;
    color: #5375e2;
    font-size: 76px;
  }
  
  
  