body{
    background-image: url(/FinalCapstoneWebsite/Assets/468973258_10164631929353378_5372528642261658059_n.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode: lighten;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
  }
  
  #welcomeBox {
    border-radius: 25px;
    width: 500px;
    height: auto;
    padding: 20px 20px;
    background-color: #03127b;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
    position: relative; 
    z-index: 10; 
  }
  
  #loginBox {
    border-radius: 50px;
    width: 400px;
    height: 500px;
    background-color: #7791a1;
    margin-left: 150px; /* Space from left edge */
  }
  
  #welcomeText{
    text-align: center;
  text-shadow: -3px -3px 0 #f65868, 
               3px 3px 0 #f65868;
  color: #ffffff;
  font-size: 60px;
  font-weight: bold;
  line-height: 1.2;
  }


  #loginText{
    text-align: center;
    color: #D0E4FF;
    font-size: 40px;
  }

  .formFormat{
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
    font-size: 20px;
    color: #D0E4FF;
  }
  
  p{
    font-weight: bold;
    border-bottom: solid 2px;
    padding-bottom: 10px;
  }

.inputForm{
border-radius: 20px;
padding-right: 180px;
}

#loginButton{
  border-radius: 20px;
  background-color: #5375e2;
  color: #ffffff;
  font-size: 20px;
  padding: 14px;
  display: block;
  margin-top: 80px;
  margin-left: 60px;
  text-align: center;
  width: 50%;
}

.warning-popup {
  display: none;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ff3333;
  color: white;
  padding: 15px 25px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  animation: slideDown 0.5s, fadeOut 0.5s 2.5s forwards;
  text-align: center;
  font-weight: bold;
}
.warning-popup {
  display: none;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ff3333;
  color: white;
  padding: 15px 25px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  animation: slideDown 0.5s, fadeOut 0.5s 2.5s forwards;
  text-align: center;
  font-weight: bold;
}

@keyframes slideDown {
  from {
      top: -50px;
      opacity: 0;
  }
  to {
      top: 20px;
      opacity: 1;
  }
}

@keyframes fadeOut {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}