body {
    background-image: url("/CapstoneProjectBS/Assets/background.jpg");
    background-size:  1950px 1100px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 1px;
    margin-left: 1px;
    margin-right: 1px;
    background-color: #103a4e;
    background-blend-mode: lighten;
  
  }

.container-fluid{
    
}